#footer {
  height: 50px;
  box-shadow: 0 -15px 20px 0 rgba(0,0,0, 0.4);
  h6 {
    color: #d4dbdd;
    font-style: normal;
    line-height: 50px;
    margin: 0;
  }
  .container-fluid {
    background: #50808e;
  }
}
