.navbar-default {
    min-height: 110px;
    border: none;
    border-radius: 0;
    background: #50808e;
    margin: 0;
    position: relative;
    .push-top {
      margin-top: 20px;
    }
}

.navbar-brand {
  img {
    max-height: 80px;
    opacity: .7;
    transition: all ease-in-out .3s;
  }
  img:hover {
    opacity: .95;
  }
}

.socialLink a {
  cursor: default;
  i {
    opacity: .8;
    color: white;
    font-size: 7rem;
    transition: all ease-in-out .3s;
  }
  i:hover {
    opacity: .95;
    cursor: pointer;
  }
  .fa:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);  }
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: rgba(0, 0, 0, .5);
}

// mobile

.navbar-default .navbar-toggle {
  border-color: #c8d2d4;
  .icon-bar {
    background-color: #c8d2d4;
  }
}

.navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #c8d2d4;
}

@media (max-width: 768px) {
  .navbar-default {
    .push-top {
      margin-top: 0;
    }
  }
  .navbar-brand img {
      max-height: 65px;
  }
  .socialLink a {
    i {
      font-size: 5.5rem;
    }
  }
}
