
#portfolio {
  padding: 10px 0 30px 0;
  height: 100%;
  margin-bottom: 0px;
  background: #bde4a7;
  position: relative;
  text-align: center;
  .skew.top  {
    top: -30px;
    height: 40px;
    background: #bde4a7;
    transform: skewY(-0.5deg);
    box-shadow: 0 -15px 20px 0 rgba(0,0,0, 0.4);
  }
  .skew.bottom {
    //border: 1px solid black;
    height: 25px;
    bottom: -12px;
    background: #bde4a7;
    transform: skewY(0.7deg);
  }
  .slick-dots, .slick-next, .slick-prev {
    bottom: 5px;
    padding: 0;
    bottom: 0;
  }
  .slideContainer {
    padding-bottom: 20px;
    .imageBox {
      filter: drop-shadow(10px 10px 5px rgba(0,0,0, 0.4));
      max-width: 1000px;
      margin: 0 auto;
    }
    img {
      max-width: 100%;
    }
    .design1 {
      -webkit-clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
      clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
    }
    .design2 {
      -webkit-clip-path: polygon(0 0, 100% 0, 98% 100%, 3% 100%);
      clip-path: polygon(0 0, 100% 0, 98% 100%, 3% 100%);
    }
    .design3 {
      -webkit-clip-path: polygon(2% 0, 98% 0, 100% 100%, 0 100%);
      clip-path: polygon(2% 0, 98% 0, 100% 100%, 0 100%);
    }
    .design4 {
      -webkit-clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
      clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
    }
    .information {
      max-width: 60%;
      margin: 20px auto 10px auto;
    }
    .projectLink {
      max-width: 30%;
      margin: 0 auto;
      a {
        font-size: 1em;
      }
    }
    .name {
      font-weight: bold;
    }
    .languages {
      font-style: italic;
    }
  }
  h2 {
    margin-bottom: 20px;
  }
  h4 {
    margin-bottom: 10px;
  }
  a {
    margin: 15px 0;
  }

  @media(max-width:1100px) {
    .slideContainer .imageBox {
      max-width: 740px;
    }
  }

  @media(max-width:780px) {
    .slideContainer .imageBox {
      max-width: 500px;
    }
  }

  @media(max-width:540px) {
    .slideContainer .imageBox {
      max-width: 300px;
    }
  }


}
