#skills {
  top: -15px;
  padding-top: 25px;
  background: #b2aa8e;
  padding-bottom: 35px;
  pointer-events: none;
  text-align: center;
  .row {
    margin-top:20px;
  }
  .images {
    margin: 20px auto 0 auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    div {
      display: inline-block;
      width: 25%;
      margin: 25px auto;
    }
    img {
      max-height: 150px;
      max-width: 150px;
      margin-bottom: 30px;
  }
  }
  @media(max-width:1100px) {
    .images {
      width: 740px;
    }
  }
  @media(max-width:780px) {
    .images {
      width: 500px;
      div {
        width: 48%;
      }
    }
  }
  @media(max-width:540px) {
    .images {
      width: 300px;
      img {
        max-width: 120px;
        max-height: 120px;
      }
    }
  }
}

/*-----------------------------------------------------------*/


